body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

li.done{
    text-decoration: line-through;
}


.todo{
	padding: 25px;
}

li{
	margin-bottom: 15px;
}

li .btn{
	margin-left: 10px;
}

input[type="checkbox"]{
	margin-right: 8px !important;
	position: relative;
	top: 2px;
}